.listItem {
    width: 300px;
    height: 190px;
    background-color: rgb(27, 26, 26);
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
    color: white;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video {
        width: 100%;
        height: 180px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover {
        width: 350px;
        height: 310px;
        position: absolute;
        top: -150px;
        padding: 10px;
        border-radius: 5px;
        transition: all 3s none;
       
        img {
            height: 140px;
        }

        .itemInfo {
            display: flex;
            flex-direction: column;
            padding: 10px;


            .icons {
                display: flex;
                margin-top: 25px;
                margin-bottom: 15px;
                align-items: center;


                .icon {
                    border: 2px solid white;
                    padding: 5px;
                    border-radius: 50%;
                    margin-right: 10px;
                    font-size: 2rem;
                }

                .icon_ {
                    background-color: white;
                    color: black;
                    border: 1px solid white;
                    padding: 5px;
                    border-radius: 50%;
                    margin-right: 10px;
                    font-size: 2rem;

                }
                .down {
                    margin-left: 8rem;
                }
            }
        }

        .itemInfoTop {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
            color: grey;

            .limit {
                border: 1px solid grey;
                padding: 1px 3px;
                margin: 0 10px;
            }

            .genre {
                margin-left: 5px
            }
        }

        .desc {
            font-size: 16px;
            margin-bottom: 10px;
            color: lightgray;
        }
    }

}